<div class="layout">
    <header>
        <h1>
            Alan Doe - Full Stack Developer
        </h1>
    </header>
    <aside>
        <ul>
        <li>alan.doe&#64;website.com</li>
<li>0123 456 789</li>
<li>portfoliosite.com</li>
<li>linkedin.com/in/alandoe</li>
<li>github.com/username&#64;twittername</li>

</ul>
<h3>EDUCATION</h3>
<ul>
<li>MSc in Computer Science
University of London
2016 - 2018</li>
<li>BSc in Applied Mathematics
Bristol University
2012 - 2016</li>
</ul>

<h3>LANGUAGES</h3>
<ul>
    <li>English (Native)</li>
<li>French (Professional)</li>
<li>Spanish (Professional)</li>
</ul>
<h3>INTERESTS</h3>
<ul>
<li>Climbing</li>
<li>Snowboarding</li>
<li>Cooking</li>
</ul>
    </aside>
    <main>
        <div>
            <h1>CAREER PROFILE</h1>
            Summarise your career here lorem ipsum dolor sit amet, consectetuer adipiscing elit. You can download this free resume/CV template here. Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.
            
        </div>
  
        <div>
EXPERIENCES
Lead Developer
2023 - Present
Startup Hubs, San Francisco
Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.

Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

Senior Software Engineer
2018 - 2023
Google, London
Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.

UI Developer
2016 - 2018
Amazon, London
Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
</div>
<div>
PROJECTS
You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.

CoderPro - A responsive website template designed to help developers launch their software projects.
Launch - A responsive website template designed to help startups promote their products or services.
DevCard - A portfolio website template designed for software developers.
Nova Pro - A responsive Bootstrap theme designed to help app developers promote their mobile apps
DevStudio - A responsive website template designed to help web developers/designers market their services.

</div>
<div>
SKILLS & PROFICIENCY
Python & Django
Javascript
React & Angular
HTML5 & CSS
Ruby on Rails
Sketch & Photoshop
</div>
    </main>
</div>
